<h1><%= @contest.name %></h1>

<h3>Next Up:</h3>

<%= simple_form_for @contest do |f| %>
  <% @enrollments.each do |enrollment| %>
    <div class="putter-row" id="putter-<%= enrollment.putter_id %>">
      <h2><%= Putter.find(enrollment.putter_id).name %></h2>
      <%= f.simple_fields_for :enrollments do |enrollments_form| %>
        <%= hidden_field_tag 'putter_id', "#{@contest.id}" %>
        <%= enrollments_form.input :active, as: :check_boxes %>
      <% end %>
    </div>
  <% end %>
  <%= f.button :submit %>
<% end %>

<input type="button" class="btn btn-primary" value="Next Round" onClick="refreshPage()">
